pdfs/*.pdf
*.pdf
xlsx_output/*.xlsx
.venv/
output/
*.pyc
*.pth
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
*.swp
*~
*.log
*.avi
*.webm
*.mp4
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
certs
checkpoints
.env
logs/
data/
nginx/certs/
frontend/node_modules